<meta charset="utf-8" />
<title><%= head.title %></title>
<% if (head.description) { %>
<meta name="description" content="<%= head.description %>" />
<% } %> <% if (head.author) { %>
<meta name="author" content="<%= head.author %>" />
<% } %>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Slab|Hind+Vadodara:400,600"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="icon" type="image/png" href="img/favicon.png" />
<meta property="og:title" content="<%= head.title %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="img/og-image.jpg" />
